<!DOCTYPE html>
<html ng-app="store">
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="bootstrap.css">
		<link rel="stylesheet" type="text/css" href="app.css">
	</head>
	<body ng-controller="StoreController as store">
		<ul class="list-group"> 
			<li class="list-group-item" ng-repeat="product in store.products">
				<h3 product-title></h3>
				<div class="gallery">
					<img ng-src="{{product.images[0].full}}">
				</div>
				<product-panels></product-panels>
			</li>
		</ul>
		<script type="text/javascript" src="/angular/angular.js"></script>
		<script type="text/javascript" src="/angular/products.js"></script>
		<script type="text/javascript" src="/angular/app.js"></script>
	</body>
</html>

<!--
<div ng-repeat="product in store.products">
	<h1>{{product.name}}</h1>
	<h2> {{product.price}}</h2>
	<p>{{product.description}}</p>
	<button ng-show="product.canPurchase">Add to Cart</button>
</div>
-->